:root {
  --dark-theme: #45a078; 
  --white: #F6FAF7; 
  --yellow: #EFB14B;
  --dOrange: #CA8144;
  --black: #3C414C;
}

body {
  color: var(--dark-theme);
}

.section {
  font-family: 'Heebo', sans-serif;
}

section.hero.is-fullheight {
  background-color: var(--dark-theme);
  color: var(--white);
  font-family: 'Julius Sans One', sans-serif;
}

section.section.has-text-weight-semibold {
  padding: 0;
}

.tabs a{
color: var(--white);  
}

.tabs a:hover{
  color: var(--yellow);
}
/* .hero-foot.has-text-centered.has-text-weight-semibold {
  color: #457782;
} */

/* h2.subtitle.is-size-4 {
  color: #7FBBA8;
} */

h1.name {
  /* color: #118C79; */
  letter-spacing: 1rem;
  font-size:3rem;
}

h2.is-size-4.has-text-weight-semibold{
  color: var(--yellow);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* h1.has-text-centered.is-size-2.dark {
  color: var(--dark-theme);
  font-family: 'Julius Sans One', sans-serif;
} */

h1.has-text-centered.is-size-2 {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--dOrange);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Julius Sans One', sans-serif;
}

h2.title {
  /* color: #118C79; */
  border-bottom: 1px solid;
  width: 85%;
  font-family: 'Julius Sans One', sans-serif;
}

h3 {
  /* color: #118C79;; */
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
}

.date {
  font-style: italic;
}

.section.dark {
  padding: 3rem 1.5rem;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Heebo', sans-serif;
}

.tile.is-parent {
  margin: 0.75rem;
  /* border-radius: 0.5rem; */
  /* color: var(--dark-theme); */
  padding: 1rem 0 1rem 0;
}

.columns{
  justify-content: center;
}

.column {
  max-width: max-content;
  padding-right: 2rem;
  padding-left: 2rem;
}

img {
  margin-bottom: 0.75rem;
  border: 1px solid var(--black);
}

a.project-title {
  /* color: #118C79; */
  font-weight: 500;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--dOrange);
}

.button.is-medium {
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 10px;
  font-size: 22px;
  transition: all 1s ease-in-out;
}

.button.is-medium:hover {
  background-color: var(--dark-theme);
  transform: scale(1.05);

}

.logo {
  padding: 1rem;
  font-size: 2.4rem;
  /* color: #118C79; */
  color: var(--yellow);
  font-family: 'Rajdhani', sans-serif;
  height: auto;
  width: auto;
}

/* TILE STYLES */
.box {
  background-color: #118C79;
  color: #F0ECEC;
}

/* .highlight {
  background-color: #8C5D7E;
  padding: 1.25rem;
} */

.tile.is-ancestor.jobs {
  color: #1B4083;;
}
ul.job-duties {
  list-style-type: circle;
  text-align: start;
  padding-top: 0.75rem;

}

.footer {
  background-color: #F0ECEC;
}

.breadcrumb {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.breadcrumb a{
  color: #1B4083;
}

.email-buttons {
  display: flex;
  justify-content: center;
}

textarea.textarea {
  width: 40rem;
}

.section.contact {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.bottom-nav {
  text-align: right;
}

.nav-link {
  transition-timing-function: ease-out;
  font-size: 1.25rem;
}

span.has-text-weight-bold.is-size-6 {
  margin-left: 1rem;
}

/*PRACTICE*/
.data-info {
  background: black;
  color: white;
  border: 1px solid black;
  position: absolute;
  width: 300px;
  height: 309px;
  width: 20.5rem;
  height: 13.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* figure.image.is-256x256:hover {
  position: opacity;
  opacity: 0.25;
} */
.typewrite {
  color: white;
  font-size: 20px;
}
